@model MVCAssignment.Models.ViewModel.ProductsViewModel

@{
    ViewData["Title"] = "ADD";
}
<form asp-controller="Home" asp-action="AddnEdit">
    <table class="error">
        <tr>
            <input type="hidden" asp-for="ProductId"/>
        </tr>
        <tr style="background-color:chartreuse;">
            <td>Enter Product Code</td>
            <td>
                @Html.TextBoxFor(prod => prod.ProductCode)
                <span asp-validation-for="ProductCode"></span>
            </td>
        </tr>
        <tr>
            <td>Enter Product Name</td>
            <td>
                @Html.TextBoxFor(prod => prod.ProdcuctName)
                <span asp-validation-for="ProdcuctName"></span>
            </td>
        </tr>
        <tr style="background-color:chartreuse;">
            <td>Enter Product Description</td>
            <td>
                @Html.TextBoxFor(prod => prod.ProductDesc)
                <span asp-validation-for="ProductDesc"></span>
            </td>
        </tr>
        <tr>
            <td>Enter the Price</td>
            <td>
                @Html.TextBoxFor(prod => prod.ProductPrice)
                <span asp-validation-for="ProductPrice"></span>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td>
                <a asp-action="Index">Go BACK!!!!!!!!!!!</a>
            </td>
        </tr>
    </table>
</form>